[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[alias]
	co = checkout
    cob = checkout -b
	ci = commit
	st = status -s
	br = branch
    diffw = diff --color-words
    graph = log --graph --decorate --oneline
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
