[user]
[color]
    ui = auto
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
    quotepath = false
    autocrlf = false
    ignorecase = false
[alias]
    co = checkout
    cob = checkout -b
    cot = checkout -t
    st = status -s
    br = branch
    diffw = diff --word-diff
    graph = log --graph --decorate --oneline
    graph2 = "log --graph --date=short --pretty=\"format:%C(auto)%h %C(cyan)%ad %C(auto)%s%C(auto)%d %C(#777777)<%an>\""
    gra = graph2
[diff]
    tool = vimdiff
[merge]
    ff = false
[fetch]
    prune = true
[pull]
    ff = only
[push]
    default = current
[credential]
    helper = cache --timeout=86400
[init]
    defaultBranch = main
