[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
[alias]
    co = checkout
    cob = checkout -b
    ci = commit
    st = status -s
    br = branch
    graph = log --graph --decorate --oneline
    gra = log --graph --decorate --oneline
    hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
